#app-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #f0f0f0; }

body {
  font-family: 'Share Tech Mono'; }

a, a:active, a:hover, a:visited {
  color: black; }

.page-content {
  height: 100%;
  position: relative; }

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

h1, h2 {
  text-align: center;
  font-size: 14px; }

.page-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px; }

.logos {
  text-align: center; }

.logo {
  display: inline-block;
  text-decoration: none;
  width: 20px; }

.logo:not(:last-child) {
  margin-right: 10px; }

#map-container {
  height: 100%;
  width: 100%; }

.site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px; }
